extends layout
block content

    section(class="wall")
        div(class="row")
            each tweet in data
                div(class="col s12 m3")
                    div(class="card")
                        div(class="card-image")
                            img(src=tweet.bannerUrl)
                            span(class="card-title") #{tweet.userName}
                        div(class="card-content white")
                            img(src=tweet.imageUrl)
                            p= tweet.text

    //<div class="col s12 m6">
    //    <div class="card">
    //        <div class="card-image">
    //            <img src="images/sample-1.jpg">
    //            <span class="card-title">Card Title</span>
    //        </div>
    //        <div class="card-content">
    //            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
    //        </div>
    //        <div class="card-action">
    //            <a href="#">This is a link</a>
    //            <a href='#'>This is a link</a>
    //        </div>
    //    </div>
    //</div>
