doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/materialize.css' media="screen,projection")
    body
        nav
            div(class="nav-wrapper materialize-twitter third")
                a(class="brand-logo materialize-twitter-text secondary" href="../")=title
                ul(id="nav-mobile" class="right side-nav materialize-twitter third")

                a(class="button-collapse" href="#" data-activates="nav-mobile")
                    i(class="mdi-navigation-menu")
        form(id="send-hashtag" style="max-width:85%;" class="center-block")
            input(type="text" id="hashtag" required="required" style="max-width:80%;")
            input(class="btn-large waves-light" type="submit" style="" value="zoek hashtag")
        block content
        script(type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.js")
        //script(src="http://code.jquery.com/jquery-latest.min.js")
        script(src="https://cdn.socket.io/socket.io-1.2.1.js")
        script(type="text/javascript" src="/javascripts/materialize.min.js")
        script(src="/javascripts/client.js")
        script $(".button-collapse").sideNav();